body {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    font-family: 'Dosis', sans-serif;
    color: #121213;
    font-size: 14px;
    line-height: 20px;
}

/*-------------------------------------*/
/* .two{
    display:flex;
    justify-content: space-between;
    align-items: center;   
    margin:0px 60px;
     
    
} */
/* * {
    margin:0px;
    padding:0px;

} */
.our-specialization{
    display:flex;
    justify-content: space-between;
    align-items: center;   
    margin:0px 60px;
    font-family: 'Dosis', sans-serif;

}

.our-specialization:first-child{
    font-size: 26px;
    line-height: 20px;
    color: #121213;
    font-weight: 600;
    letter-spacing: 1px;
    
    
}

.www{
    text-decoration: none;
    color:#919198;
    letter-spacing: 1px;
    font-size: 13px;
}

.part2{
    display:flex;
    margin:20px 60px;
    justify-content: space-around;

}

.part2-card1{
    box-sizing:border-box;
    border:1px;
    display:table;
    height:300px;
    width:350px;
    padding:10px;

}
.part3{
    display: flex;
}

.constructor-image{
    width: 650px;
    margin:70px 10px 50px 150px ;
    /* height:500px; */
}

.part3-text{
    margin:40px 50px 30px 100px;
    color:#919197;  
    font-family: Dosis, sans-serif;
    line-height: 30px;
    letter-spacing: 1px;
}

.who-we-are-h2{
    font-size:40px;
    font-weight: 200;
    letter-spacing: 1px;
    color:black;
}

.who-we-are-link{
    text-decoration: none;
    color:#919198;
    letter-spacing: 1px;
    font-size: 13px;
}

.part4{
   display: flex;
   box-sizing:border-box;
   
   justify-content: space-around; 
   margin-left:50px;
   margin-right: 90px;
}


.part4-card{
    justify-content: space-between;
    border:'';
    width:120px;
}

.part4-h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
    margin-bottom: 10px;
}

.our-work{
    /* justify-content: space-between;  */
    /* margin:5px; */
    background-color: #f7f8fc;
    border:1px solid;
    position: relative;
    height:1000px;
                       
    
    /* box-sizing: border-box; */
    
    
}


.our-work-p{
    font-size: 40px;
}

.our-work-div{
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin:40px 30px;

    
}
.our-work-border{
    display:flex;
    justify-content: space-between;
}



.imageone{
    
    width:442px;
    height:400px;
    margin:10px;
    /* display:block; */
    
    
}

.imageone-button{
    position:absolute;
    margin:1px;
}